---
import NavLink from './NavLink.astro';

const links = [
    { href: '/', text: 'Home' },
    { href: '/about', text: 'About us' },
    { href: '/references', text: 'References' },
    { href: '/services', text: 'Prices & Services' },
    { href: '/contact', text: 'Contact us' },
];
---
<header class="sticky top-0 z-50 bg-primary-dark/95 backdrop-blur-sm shadow-xl transition duration-500">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-20">
            <a href="/" class="text-xl sm:text-2xl font-bold tracking-wider text-accent-gold hover:text-white transition duration-300">
                CE Reinessance
            </a>

            <nav class="hidden md:flex space-x-4 md:space-x-6"> 
                {links.map((link) => (
                    <NavLink href={link.href} text={link.text} />
                ))}
            </nav>

            <div class="md:hidden">
                <button class="text-text-light focus:outline-none p-2 rounded-md hover:bg-accent-gold/20 transition duration-300">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>