---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CE Reinessance - Central European Renovation Company" />
		<meta name="viewport" content="width=device-width" />
		
        <link rel="icon" type="image/png" href="/favicon.png" /> 
        
		<title>{title} | CE Reinessance</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="flex-grow max-w-7xl mx-auto w-full px-4 sm:px-6 lg:px-8 py-8 animate-fadeIn">
			<slot />
		</main>
		<Footer />

        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/68dc3378a02a4e194f76bb0f/1j6e2i4a9';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        </body>
</html>